body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline:none;
    font-weight:400; 
    overflow-x: hidden;     
    }/* This helps get rid of the annoying white line on the side of the site*/
    html {
        font-size:62.5%;
        transition: all 0.5s ease-in;
        box-sizing: border-box;
        }
    h1 {
    text-align: center;
    font-size: 4rem;

    }
    .buttons {
        display: block;
        text-align: center;
    }
    .project-section{
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    .objects{
    margin-right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    }
    .box img{
     width: 30vw;   
     margin: 5em;
    }
    .box {
        color:white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 10px;
        position: relative;
        overflow: hidden;
    }
    .box:before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    transform:translateY(100%);
    transition: all 0.25s ;
    }
    .box:hover:before {
    transform: translateY(0);
    transition-delay: 0s;
    }
    .box .caption {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.25s;
        }
    .box:hover .caption {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3;
    }
    .box h3, .box h5 {

    margin: 0;
    letter-spacing: 1px;

    }
    .box h3 {
    text-transform: 5px;
    font-weight: 400;
    margin-bottom: 5px;


    }
    .box h5 {
    font-size: 25px;
    background-color: red;

    }