body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
}
h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10em;
    line-height: 200px;
    letter-spacing: 40px;
    text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef, 0 4px 0 #efefef, 0 30px 5px rgb(0 0 0 / 10%);
    animation: float 2s linear infinite;
    animation-direction: alternate;
}










@keyframes float {
    0% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
    
}